# 【追加】トークンなどの秘密情報を書いた設定ファイル
config.js

# データベースの接続情報が書かれたファイル 
config.php 

# エディタ（VSCodeなど）の設定フォルダ 
.vscode/ 

# Windowsのシステムが自動生成するゴミファイル 
Thumbs.db 
ehthumbs.db 
Desktop.ini 

# ログファイルやキャッシュ 
*.log